# Module 3 : Performance measurements of Linear regression algorithms

In [1]:
#import library packages
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings('ignore')

#### House price dataset

In [3]:
#Load given dataset
data = p.read_csv("Price.csv")

In [4]:
df=data.dropna()

In [5]:
df.head()

,Price,Area,No. of Bedrooms,Gymnasium,SwimmingPool,IndoorGames,ClubHouse,CarParking,Hospital,Children'splayarea,LiftAvailable,GolfCourse,city
0,30000000,3340,4,1,1,1,1,0,0,1,1,0,Bangalore
1,7888000,1045,2,1,1,1,1,1,0,1,1,0,Bangalore
2,4866000,1179,2,1,1,0,0,0,0,1,1,0,Bangalore
3,8358000,1675,3,0,0,0,0,0,0,0,1,0,Bangalore
4,6845000,1670,3,1,1,1,1,1,0,1,1,0,Bangalore

In [6]:
df.columns

Index(['Price', 'Area', 'No. of Bedrooms', 'Gymnasium', 'SwimmingPool',
       'IndoorGames', 'ClubHouse', 'CarParking', 'Hospital',
       'Children'splayarea', 'LiftAvailable', 'GolfCourse', 'city'],
      dtype='object')

In [7]:
from sklearn.preprocessing import LabelEncoder

var = ['city']

le = LabelEncoder()

for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

In [8]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,explained_variance_score,median_absolute_error

In [9]:
X = df.drop(labels='Price', axis=1)
#Response variable
y = df.loc[:,'Price']

In [10]:

#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# LinearRegression

In [11]:
from sklearn.linear_model import LinearRegression
linR= LinearRegression()
linR.fit(X_train,y_train)

predictL = linR.predict(X_test)

MAE= (mean_absolute_error(y_test,predictL))
print('MEAN ABSOLUTE ERROR VALUE IS :',MAE)
print(" ")

MSE=(mean_squared_error(y_test,predictL))
print('MEAN SQUARED ERROR VALUE IS :',MSE)
print(" ")

MedianAE=(median_absolute_error(y_test,predictL))
print('MEDIAN ABSOLUTE ERROR VALUE IS :',MedianAE)
print(" ")

EVS=(explained_variance_score(y_test,predictL)*100)
print('ACCURACY RESULT OF LINEAR REGRESSION IS :',EVS)
print(" ")

R2=(r2_score(y_test,predictL))
print('R2_SCORE VALUE IS :',R2)
print(" ")

MEAN ABSOLUTE ERROR VALUE IS : 4191567.597516769

MEAN SQUARED ERROR VALUE IS : 101124988262825.33

MEDIAN ABSOLUTE ERROR VALUE IS : 2553798.723454654

ACCURACY RESULT OF LINEAR REGRESSION IS : 40.85604944900329

R2_SCORE VALUE IS : 0.4083023316525879

#### House rent dataset

In [12]:
#Load given dataset
data = p.read_csv("House_Rent_Dataset.csv")

In [13]:
df=data.dropna()

In [14]:
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [15]:
df.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

In [16]:
del df['Posted On']
del df['Floor']
del df['Area Locality']

In [17]:
df.columns

Index(['BHK', 'Rent', 'Size', 'Area Type', 'City', 'Furnishing Status',
       'Tenant Preferred', 'Bathroom', 'Point of Contact'],
      dtype='object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BHK                4746 non-null   int64
 1   Rent               4746 non-null   int64
 2   Size               4746 non-null   int64
 3   Area Type          4746 non-null   object
 4   City               4746 non-null   object
 5   Furnishing Status  4746 non-null   object
 6   Tenant Preferred   4746 non-null   object
 7   Bathroom           4746 non-null   int64
 8   Point of Contact   4746 non-null   object
dtypes: int64(4), object(5)
memory usage: 333.8+ KB

In [19]:
from sklearn.preprocessing import LabelEncoder

var = ['Area Type','City','Furnishing Status','Tenant Preferred','Point of Contact']

le = LabelEncoder()

for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

In [20]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,explained_variance_score,median_absolute_error

In [21]:
X = df.drop(labels='Rent', axis=1)
#Response variable
y = df.loc[:,'Rent']

In [22]:

#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# LinearRegression

In [23]:
from sklearn.linear_model import LinearRegression
linR= LinearRegression()
linR.fit(X_train,y_train)

predictL = linR.predict(X_test)

MAE= (mean_absolute_error(y_test,predictL))
print('MEAN ABSOLUTE ERROR VALUE IS :',MAE)
print(" ")

MSE=(mean_squared_error(y_test,predictL))
print('MEAN SQUARED ERROR VALUE IS :',MSE)
print(" ")

MedianAE=(median_absolute_error(y_test,predictL))
print('MEDIAN ABSOLUTE ERROR VALUE IS :',MedianAE)
print(" ")

EVS=(explained_variance_score(y_test,predictL)*100)
print('ACCURACY RESULT OF LINEAR REGRESSION IS :',EVS)
print(" ")

R2=(r2_score(y_test,predictL))
print('R2_SCORE VALUE IS :',R2)
print(" ")

MEAN ABSOLUTE ERROR VALUE IS : 23325.135906006057

MEAN SQUARED ERROR VALUE IS : 1841377911.2978714

MEDIAN ABSOLUTE ERROR VALUE IS : 17582.646546683343

ACCURACY RESULT OF LINEAR REGRESSION IS : 47.71678309407857

R2_SCORE VALUE IS : 0.4767844464580826