# DataPreprocessing

In [1]:
# Import the neccessary packages.
import pandas as pd

In [2]:
# Import the Warnings.
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('brain.csv')

In [4]:
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,target
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,Ischemic stroke
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,Ischemic stroke
2,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,Ischemic stroke
3,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,Ischemic stroke
4,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,Ischemic stroke

In [5]:
data.shape

(2060, 11)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2060 entries, 0 to 2059
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             2060 non-null   object
 1   age                2060 non-null   float64
 2   hypertension       2060 non-null   int64
 3   heart_disease      2060 non-null   int64
 4   ever_married       2060 non-null   object
 5   work_type          2060 non-null   object
 6   Residence_type     2060 non-null   object
 7   avg_glucose_level  2060 non-null   float64
 8   bmi                2060 non-null   float64
 9   smoking_status     2060 non-null   object
 10  target             2060 non-null   object
dtypes: float64(3), int64(2), object(6)
memory usage: 177.2+ KB

In [7]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2055    False
2056    False
2057    False
2058    False
2059    False
Length: 2060, dtype: bool

In [8]:
data.duplicated().sum()

0

In [9]:
df = data.dropna()

In [10]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,target
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,Ischemic stroke
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,Ischemic stroke
2,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,Ischemic stroke
3,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,Ischemic stroke
4,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,Ischemic stroke

In [11]:
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi
count,2060.000000,2060.000000,2060.000000,2060.000000,2060.000000
mean,43.653786,0.105825,0.081068,108.478233,24.699951
std,29.706647,0.307689,0.273006,48.083234,6.239948
min,0.080000,0.000000,0.000000,55.120000,14.000000
25%,13.000000,0.000000,0.000000,76.927500,20.100000
50%,47.000000,0.000000,0.000000,93.025000,23.300000
75%,72.000000,0.000000,0.000000,116.235000,28.900000
max,82.000000,1.000000,1.000000,271.740000,48.700000

In [12]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'target'],
      dtype='object')

In [13]:
df['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children'], dtype=object)

In [14]:
df['smoking_status'].unique()

array(['formerly smoked', 'never smoked', 'Unknown', 'smokes'],
      dtype=object)

In [15]:
df['ever_married'].unique()

array(['Yes', 'No'], dtype=object)

In [16]:
df['Residence_type'].unique()

array(['Urban', 'Rural'], dtype=object)

In [17]:
df['target'].unique()

array(['Ischemic stroke', 'hemorrhagic stroke'], dtype=object)

In [18]:
df.target.value_counts()

hemorrhagic stroke    1172
Ischemic stroke        888
Name: target, dtype: int64

In [19]:
pd.crosstab(df['target'], df['age'])

age,0.08,0.16,0.24,0.32,0.40,0.48,0.56,0.64,0.72,0.80,...,73.00,74.00,75.00,76.00,77.00,78.00,79.00,80.00,81.00,82.00
target,,,,,,,,,,,,,,,,,,,,,
Ischemic stroke,0,0,0,0,0,0,0,0,0,0,...,40,33,50,44,36,85,68,59,47,46
hemorrhagic stroke,2,1,5,5,2,3,5,3,5,3,...,0,0,0,0,0,0,0,0,0,0

### Before Label Encoding

In [20]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,target
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,Ischemic stroke
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,Ischemic stroke
2,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,Ischemic stroke
3,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,Ischemic stroke
4,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,Ischemic stroke

In [21]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

var = ['gender','ever_married','work_type','Residence_type','smoking_status','target']

for i in var:
    df[i] = le.fit_transform(df[i]).astype(int)

### After Label Encoding

In [22]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,target
0,1,67.0,0,1,1,1,1,228.69,36.6,1,0
1,1,80.0,0,1,1,1,0,105.92,32.5,2,0
2,0,79.0,1,0,1,2,0,174.12,24.0,2,0
3,1,81.0,0,0,1,1,1,186.21,29.0,1,0
4,1,74.0,1,1,1,1,0,70.09,27.4,2,0